<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.baldr.todo"
    versionCode = "2"
    version     = "0.2.1" >

  <name>to.do</name>

  <description>
      Complete your tasks, manage your life and feel great.
  </description>

  <author href="https://build.phonegap.com" email="baldrgg@gmail.com">
      Anthony Vorobyov
  </author>

  <icon src="./resources/images/logo.png" platform="android" qualifier="xxhdpi" />

</widget>
